.dash {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.dashHeader {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #4c5a6b
}

.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.messageBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}